 html {
     text-align: center;
 }

 body {
   font-family: Helvetica, Arial, sans-serif;
   padding: .5em;
   display: inline-block;
   text-align: left;
 }

 h2 {
   margin: 0 auto .25em;
 }

 table, tbody, tr, td {
   background: #FFF;
   display: block;
 }

 table {
   margin-bottom: 2em;
   background: #666;
 }

 th {
   display: none;
 }

 td {
   padding: .5em;
   background: #EEE;
 }

 td:before {
   content: attr(data-label);
   padding-right: .5em;
 }

 tr:nth-child(odd) td {
   background: #DEDEDE;
 }

 @media (min-width: 650px) {
   table {
     display: table;
   }

   tr {
     display: table-row;
   }

   th {
     display: table-cell;
     background: #CCC;
     padding: .5em;
     text-align: left;
   }

   td {
     display: table-cell;
   }

   td:before {
     display: none;
   }
 }