 html {
     text-align: center;
 }

 body {
   font-family: Helvetica, Arial, sans-serif;
   padding: .5em;
   display: inline-block;
   text-align: left;
   color: #474b50;
 }

 h2 {
   margin: 0 auto .25em;
 }

 tbody, tr, td {
   background: #FFF;
 }

 th {
   background: #b0b7bf;
   padding: .5em;
   text-align: left;
 }

 .activity th {
    display: none;
 }

 .activity tbody, .activity tr, .activity td {
    display: block;
 }

 table {
   border: none;
   border-spacing: 1px;
   margin-bottom: 2em;
   background: #666;
 }

 td {
   padding: .5em;
   background: #EEE;
 }

 .activity td:before {
   content: attr(data-label);
   padding-right: .5em;
 }

 tr:nth-child(odd) td {
   background: #DEDEDE;
 }

.overall td {
  min-width: 80px;
}

.overall td:first-child {
   background: #b0b7bf;
   font-weight: 700;
}

.overall tr:last-child td {
    position: relative;
}

.overall tr:last-child td:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #4d5258;
    z-index: 10;
    transform: translate(0, -50%);
}

@media (min-width: 650px) {
    .activity tbody {
      display: table-row-group;
    }

    .activity tr {
      display: table-row;
    }

    .activity td {
      display: table-cell;
    }

   .activity tr {
     display: table-row;
   }

   .activity th {
     display: table-cell;
   }

   .activity td {
     display: table-cell;
   }

   .activity td:before {
     display: none;
   }
}