main {
  max-width: 60em;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav {
  min-width: 6.2em;
}

nav a {
  display: inline-block;
  width: 2em;
  height: 2em;
  background-color: black;
}

.previous-week {
  border: solid 1em white;
  border-right: solid 1em black;
  margin-right: 1em;
}

.next-week {
  border: solid 1em white;
  border-left: solid 1em black;
}

.next-week[href="/data?weeksAgo=-1"] {
  border-left: solid 1em #CCC;
}

section {
  margin: 0 auto 2em;
}

h2 {
  margin: 0 auto .25em;
}

tbody, tr, td {
  background: #FFF;
}

th {
  background: #b0b7bf;
  padding: .5em;
  text-align: left;
}

.activity th {
  display: none;
}

.activity tbody, .activity tr, .activity td {
  display: block;
}

table {
  border: none;
  border-spacing: 1px;
  background: #666;
  width: 100%;
}

td {
  padding: .5em;
  background: #EEE;
}

.activity td:before {
  content: attr(data-label);
  padding-right: .5em;
}

.activity td:after {
  visibility: hidden;
}

tr:nth-child(odd) td {
  background: #DEDEDE;
}

.activity .label {
  text-align: right;
  display: none;
  font-weight: 700;
}

.overall td:first-child {
  background: #b0b7bf;
  font-weight: 700;
}

tr:last-child td {
  position: relative;
}

tr:last-child td:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #4d5258;
  z-index: 10;
  transform: translate(0, -50%);
}

.stats {
  margin: 2em auto 2.5em;
}

.stats p {
  line-height: 1.5;
  margin: 0 auto 1em;
}

.stats p span {
  font-weight: 700;
}

tr.totals td {
  background-color: #b0b7bf;
}

tr.totals:nth-of-type(2) {
  display: none;
}

@media (min-width: 650px) {
  body {
    font-size: 1em;
  }

  header {
    flex-direction: row;
  }

  table {
    width: auto;
  }

  .activity tbody {
    display: table-row-group;
  }

  .activity tr {
    display: table-row;
  }

  .activity td {
    display: table-cell;
  }

  .activity tr {
    display: table-row;
  }

  .activity th {
    display: table-cell;
  }

  .activity td:before {
    display: none;
  }

  .activity td:after {
    visibility: visible;
  }

  .overall td {
    min-width: 80px;
  }

  .activity .label {
    display: table-cell;
  }
}