@import helper._
@(title: String)(surveyRespondents: List[SurveyRespondent])(implicit messages: Messages, flash: Flash)

<!DOCTYPE html>

<html lang="en">
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/dashboard.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
    <h1>Dashboard</h1>
    <div class='flash'>
        <p>@flash.get("success").getOrElse("")
        @flash.get("error").getOrElse("")</p>
    </div>
    <div id='survey_respondents_list' class='half'>
        <h2>Survey Respondents</h2>
        <ul>
        @surveyRespondents.map { surveyRespondent =>
          <li>
            @surveyRespondent.username
            @form(routes.SurveyRespondentController.deleteSurveyRespondent(surveyRespondent.id.get)) {
                <input type="submit" value="remove @surveyRespondent.username">
             }
          </li>
        }
        </ul>
    </div>
    @add_survey_respondent(SurveyRespondentForm.form)
    </body>
</html>