@import helper._
@(title: String)(surveyRespondents: List[SurveyRespondent])(implicit messages: Messages, flash: Flash)

<!DOCTYPE html>

<html lang="en">
<head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/dashboard.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
</head>
<body>
    <h1>Dashboard</h1>
    <div class='flash'>
        <p class='success'>@flash.get("success").getOrElse("")</p>
        <p class='error'>@flash.get("error").getOrElse("")</p>
    </div>
    <main>
        <div class='half survey-respondents-list'>
            <h2>Survey Respondents</h2>
            <ol>
                @surveyRespondents.map { surveyRespondent =>
                <li>
                    <span>@surveyRespondent.username</span>
                    @form(routes.SurveyRespondentController.deleteSurveyRespondent(surveyRespondent.id.get)) {
                    <input type="submit" value="remove @surveyRespondent.username">
                }
            </li>
        }
    </ol>
</div>
@add_survey_respondent(SurveyRespondentForm.form)
</main>
</body>
</html>